body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #eff0f1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.homeIcon{
    color: #2196F3;
     display: flex;
    justify-content: flex-start;
    align-items: center;
 
}
.postAnswerForm{
  margin-top: 21px;
  margin-left: 34px;
  margin-right: 35px;
}
.askbtnWrapper{

  display: flex;
  justify-content: flex-end;
}
.itemgrow{

  flex: 3;
}
.itemgrow4{
  flex: 4; 
}
.topbar{
  display: flex;
  height: 58px;
 justify-content: center;
  align-items: center;
  border-top: 4px solid #f48024;
  shadow: 2px 2px 0px #888888;
  box-shadow: 1px #888888;
  box-shadow: 1px #888888;
 /* z-index: 544px; */
  z-index: 999;
  box-shadow: 0px 0px 6px 1px #8888;
  position: sticky;
  top: 0;
  background-color: #eff0f1;
}
.registrationHeader{
  color: #2196F3;
    margin-bottom: 10px;
    font-size: large;
}
.marbottom-10{
  margin-bottom: 11px  !important;
}

.errormessagecolor{

  color: red;
}

.removeIcon{
  font-size: 33px;
  color: red;
}
.addIcon{
  font-size: 30px;
  color: #2196F3;
}

.registrationTitle{
  font-size: 30px;
    text-align: center;
    color: white;
    background-color: #40549c;
    padding: 9px;
}
.mbot-5{

  margin-bottom: 5px;
}
.logout{
  margin-left: 16px;
}
.form {
  max-width: 330px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 20px;
  margin-top: 75px;
}
.itemContainer{
  margin-bottom: 10px !important;
}
.headercontainer{
  margin-bottom: 15px;
}

.registrationContainer{
  margin: auto;
    width: 70%;
    background-color: white;
}
.or{

  text-align: center;
}

.dashboardlogo{
  width: 139px;
    height: 42px;
    margin-left: 27px;
}
.askQuestnbtn{
  background-color: #2196F3;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 16px;
  /* margin: 4px 2px; */
  cursor: pointer;
  border-radius: 6px;
}
.commentbton{

  color: #0077cc;
}
.questionsHeadr{
  font-size: 31px;
    margin-top: 23px;
}
.userIcon{
  margin-right: 6px;
    margin-top: 3px;
}
.addComment{
  color: #0077cc;
    text-decoration: none;
}

.upVote{
color: blue;
}
.marleft{
  margin-left: 11px;
}
.postAnswerSec{

  /* background-color: white; */
}
.username{

  display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 123px;
    /* font-size: 17px; */
    font-weight: 500;
    color: #0077cc;
}
.questionTitle:hover{
  color: #60bbf0;
}
.questionTitle{
  color: #0077cc;
}

.divider{

  margin-top: 48px  !important;
}
.contentContainer{

  /* top:20px;
  position: relative; */
  margin-left: 27px;

 
}

mar-top7px{
  margin-top: 7px;

}
.logo{

  width: 202px;
  /* margin: auto; */
  /* margin: 0 auto; */
  margin-left: 63px;
  margin-bottom: 31px;
}
.signup{
color: #2196F3;
  float: right;
  text-decoration: none;
  margin-top: 30px;
}
.loginbtn{
  width: 328px;
  height: 50px;
  margin-top: 24px;
  background-color: #2196F3;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* margin: 4px 2px; */
  cursor: pointer;
  border-radius: 6px;
}